.discover{

    &__list{
        display: grid;
        gap: 2rem 1rem;
        margin: 2rem auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        object-fit: cover;
        justify-content: center;
        place-items: center;
    }
}