.discover{

    &__list{
        display: grid;
        gap: 1.5rem 1rem;
        margin: 2rem auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        place-items: center;
    }

    &__loading{
        height: 75vh;
        width: 100%;
        display: grid;
        place-items: center;

        .spinner{
            width: 40px;
            height: 40px;
            border-width: 8px;
        }
    }
}