.movie-card {
  // background-color: black;
  width: 100%;
  max-width: 240px;
  // max-height: 310px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  p {
    position: absolute;
    padding: 0 10px;
    bottom: -100%;
    transition: bottom 0.2s ease;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6), 
    1px -1px rgb(0 0 0 / 60%), 
    -1px 1px rgb(0 0 0 / 60%), 
    -1px -1px rgb(0 0 0 / 60%);
    transition: box-shadow 0.2s ease;
    font-weight: bold;
    opacity: 0;
  }

  span{
    position: absolute;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 0.2rem;
    opacity: 0;
    top: 0.7rem;
    left: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6), 
    1px -1px rgb(0 0 0 / 60%), 
    -1px 1px rgb(0 0 0 / 60%), 
    -1px -1px rgb(0 0 0 / 60%);
    svg{
      margin-top: -2px;
    }
  }

  .star{
    color: yellow;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 2px var(--primary);
    transition: 0.2s ease;

    p {
      bottom: 0;
      transition: 0.3s ease;
    }

    span{
      transition: 0.3s ease;
    }

    p,span{
      opacity: 1;
    }
  }
}
