.nav {
  // background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-size: 1.2rem;

  &__links {
    display: flex;
  }

  &__link {
    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
  }
}
