.nav {
  background-color: #161a20;
  color: white;
  box-shadow: 0 1px 1px 0px rgb(255 255 255 / 10%);

  font-size: 1.2rem;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0 1rem 0;
  }

  &__links {
    display: flex;
  }

  &__link {
    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
  }
}
