.nav {
  background-color: #1c2127;
  color: white;

  font-size: 1.2rem;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0 1rem 0;
  }

  &__links {
    display: flex;
  }

  &__link {
    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
  }
}
