.spinner{
    border: 5px solid gray;
    border-bottom: 5px solid black;
    width: 20px;
    height: 20px;
    animation: spinner 0.5s ease infinite;
    border-radius: 50%;
}


@keyframes spinner {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 365deg;
    }
}