*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: linear-gradient(to bottom, #191925, #222225, #252530);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}